<aside id="toolbar">
    <form id="toolbar__form">
      <fieldset>
          <legend>{{toolbar.heading}}</legend>
          <div id="toolbar__tools">
            {% include 'partials/toolbar-fields/shape.njk' %}
            {% include 'partials/toolbar-fields/size.njk' %}
            {% include 'partials/toolbar-fields/color.njk' %}
            {% include 'partials/toolbar-fields/stroke.njk' %}
            {% include 'partials/toolbar-fields/rotation.njk' %}
         </div>
         {% include 'partials/toolbar-fields/instructions.njk' %}
                </fieldset>
        
    </form>
  </aside>