<aside id="toolbar">
    <form>
      <fieldset>
        <legend>{{toolbar.heading}}</legend>
        <label for="color">{{toolbar.colorHeading}}</label>
        <input type="color" name="color" id="color" value="{{toolbar.shapeColorDefault}}">
        <label for="stroke">{{toolbar.strokeHeading}}</label>
        <input type="number" name="stroke" id="stroke" value="20">
        <label for="rotation">{{toolbar.rotationHeading}} <span>{{toolbar.rotationSub}}</span></label>
        <input type="number" name="rotation" id="rotation" value="0" step="5" min="0" max="360">
        <label for="shape">{{toolbar.shapeHeading}}</label>
        <select name="shapes" id="shapes">
          {%- for type in toolbar.types -%}
            <option value="{{type.name}}">{{type.name}}</option>
          {%- endfor -%}
        </select>
        <label for="size">Shape Size</label>
        <input type="number" id="size" value="100" min="25" max="250" step="25">
      </fieldset>
      <div>{{ toolbar.instructions }}</div>
    </form>
  </aside>